
*{
margin: 0;
padding: 0;
}

#header {
height: 200px;
text-align: center;
font-size: 24pt;
vertical-align: middle;
background-color:hsla(50, 33%, 25%, .75);	
}

#content {
height: 400px;
text-align: center;
font-size: 12pt;
vertical-align: middle;	
background-color: hsl(50, 33%, 25%);;
}

#footer {
height: 200px;
text-align: center;
font-size: 14pt;
vertical-align: middle;
background-color: hsla(50, 33%, 25%, .75);
}