body {
	margin: 0;
	padding: 0;
}

#header {
height: 200px;
text-align: center;
font-size: 24pt;
background-color: rgba(206, 219, 224, 0.89);	
}

#content {
height: 300px;
text-align: center;
font-size: 12pt;	
background-color: rgba(206, 219, 224, 0.349);
}

#content p {
margin: 20px;	
}

#footer {
height: 200px;
text-align: center;
font-size: 14pt;
background-color: rgb(206, 219, 224, 0.89);
}